<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>index</title>
    <script src="/19/js/jquery.js" type="text/javascript"></script>
    <link href="/19/css/comon0.css" rel="stylesheet">
    <style>        /* 添加按钮样式 */
    #pushButton {
        position: fixed;
        bottom: 120px; /* 往上移 */
        right: 120px; /* 往左移 */
        padding: 10px 20px; /* 调整内边距，使按钮更大 */
        font-size: 16px; /* 增大字体大小 */
        color: white;
        background-color: #6f42c1; /* 与页面主色调协调的颜色 */
        border: none;
        border-radius: 5px; /* 圆角 */
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 阴影效果 */
    }

    #pushButton:hover {
        background-color: #7950c1; /* 鼠标悬停时的背景颜色变化 */
    }
    </style>
</head>
<script type="text/javascript">
    $(document).ready(function () {

        function fetchData() {
            fetch('/echarts/executing')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const tableBody = document.querySelector('#table tbody');
                    tableBody.innerHTML = ''; // 清空原有表格行

                    if (Array.isArray(data) && data.length > 0) {
                        data.forEach(item => {
                            const row = document.createElement('tr');
                            const p1 = document.createElement('td');
                            const p2 = document.createElement('td');
                            const p3 = document.createElement('td');

                            p1.textContent = item.orderId;
                            p2.textContent = item.executingProcedureId;
                            p3.textContent = item.updateTime;

                            row.appendChild(p1);
                            row.appendChild(p2);
                            row.appendChild(p3);

                            tableBody.appendChild(row);
                        });
                    } else {
                        console.error('No data received');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // 初始化加载数据
        fetchData();
        // 每秒更新一次数据
        setInterval(fetchData, 1000)

        function fetchOrderData() {
            fetch('/echarts/order')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const tableBody = document.querySelector('#order tbody');
                    tableBody.innerHTML = ''; // 清空原有表格行

                    if (Array.isArray(data) && data.length > 0) {
                        data.forEach(item => {
                            const row = document.createElement('tr');
                            const p1 = document.createElement('td');
                            const p2 = document.createElement('td');
                            const p3 = document.createElement('td');

                            p1.textContent = item.orderId;
                            p2.textContent = item.materialId;
                            p3.textContent = item.orderQuantity;

                            row.appendChild(p1);
                            row.appendChild(p2);
                            row.appendChild(p3);

                            tableBody.appendChild(row);
                        });
                    } else {
                        console.error('No data received');
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // 初始化加载数据
        fetchOrderData();
        // 每秒更新一次数据
        setInterval(fetchOrderData, 1000)

        function getUpdatedNumbers() {
            fetch('/echarts/number')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById('counter1').textContent = data[0];
                    document.getElementById('counter2').textContent = data[1];
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        // 页面加载完成后立即更新一次
        getUpdatedNumbers();

        // 设置定时器每1秒更新一次数字
        setInterval(() => {
            getUpdatedNumbers();
        }, 1000);


        function getWeekDay(date) {
            const weekDays = ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
            return weekDays[date.getDay()];
        }

        function formatTime(time) {
            return time < 10 ? `0${time}` : time.toString();
        }

        function updateTime() {
            const now = new Date();
            const year = now.getFullYear();
            const month = formatTime(now.getMonth() + 1);
            const day = formatTime(now.getDate());
            const hours = formatTime(now.getHours());
            const minutes = formatTime(now.getMinutes());
            const seconds = formatTime(now.getSeconds());
            const weekDay = getWeekDay(now);

            const timeString = `${year}年${month}月${day}日 ${hours}:${minutes}:${seconds} ${weekDay}`;

            document.getElementById('time').innerText = timeString;
        }

        // 立即执行一次
        updateTime();

        // 每秒更新一次时间
        setInterval(updateTime, 1000);

        // 添加按钮点击事件处理
        $('#pushButton').click(function () {
            fetch('/jdy/push')
                .then(response => {
                    if (response.status === 400) {
                        return response.json().then(data => {
                            $.modal.alertError('请求错误: ' + data);
                        });
                    } else if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    } else {
                        return response.text(); // 注意这里使用 response.text()
                    }
                })
                .then(data => {
                    if (data === 'success') {
                        $.modal.alertSuccess('推送数据到简道云成功');
                    } else {
                        $.modal.alertError('推送数据失败: ' + data);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    $.modal.alertError('网络请求失败，请稍后再试');
                });
        });
    })


</script>
<body>
<div class="loading">
    <div class="loadbox"><img src="/19/picture/loading.gif"> 页面加载中...</div>
</div>
<div class="head">
    <h1>ACC主轴线工单流程管理平台</h1>
    <div class="time"><span id="time"></span></div>
</div>
<div class="mainbox">
    <ul class="clearfix">
        <li>
            <div class="boxall" style="height: 6rem">
                <div class="alltitle">正在加工工单</div>
                <div class="wrap">
                    <table id="table">
                        <thead>
                        <tr>
                            <th>工单编号</th>
                            <th>正在执行工序号</th>
                            <th>更新时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 表格行将在这里动态生成 -->
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="boxfoot"></div>
        </li>
        <li>
            <div class="bar">
                <div class="barbox">
                    <ul class="clearfix">
                        <li class="pulll_left counter" id="counter1">0</li>
                        <li class="pulll_left counter" id="counter2">0</li>
                    </ul>
                </div>
                <div class="barbox2">
                    <ul class="clearfix">
                        <li class="pulll_left">需加工工单数</li>
                        <li class="pulll_left">已加工工单数</li>
                    </ul>
                </div>
            </div>
            <div class="map">
                <div class="map2"><img src="/19/picture/jt.png"></div>
                <div class="map3"><img src="/19/picture/map.png"></div>
                <div class="map4" id="map_1"></div>
            </div>
        </li>
        <li>
            <div class="boxall" style="height:6rem">
                <div class="alltitle">等待加工工单</div>
                <div class="wrap">
                    <table id="order">
                        <thead>
                        <tr>
                            <th>工单编号</th>
                            <th>物料号</th>
                            <th>加工数量</th>

                        </tr>
                        </thead>
                        <tbody>
                        <!-- 表格行将在这里动态生成 -->
                        </tbody>
                    </table>
                </div>
                <div class="boxfoot"></div>
            </div>
        </li>
    </ul>
</div>
<div class="back"></div>
<!-- 添加按钮 -->
<button id="pushButton">推送数据到简道云</button>

<script language="JavaScript" src="/19/js/js.js"></script>
<script src="/19/js/echarts.min.js" type="text/javascript"></script>
<script src="/19/js/china.js" type="text/javascript"></script>
<script src="/19/js/area_echarts.js" type="text/javascript"></script>
<!--大屏-->
<script src="/19/js/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/19/js/jquery.countup.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $('.counter').countUp();
</script>
<script src="../static/acc/js/acc-ui.js" th:src="@{/acc/js/acc-ui.js}"></script>
</body>
</html>
