<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增工序管理')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-procedure-add">
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">物料号
                    ：</label>
                <div class="col-sm-8">
                    <input class="form-control" name="materialId" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">物料描述
                    ：</label>
                <div class="col-sm-8">
                    <input class="form-control" name="description" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">工序号
                    ：</label>
                <div class="col-sm-8">
                    <input class="form-control" name="operationId" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">加工中心
                    ：</label>
                <div class="col-sm-8">
                    <input class="form-control" name="workCenter" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">工序描述
                    ：</label>
                <div class="col-sm-8">
                    <input class="form-control" name="operationDescription" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">准备工时
                    ：</label>
                <div class="col-sm-8">
                    <input class="form-control" name="setupTime" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">加工工时
                    ：</label>
                <div class="col-sm-8">
                    <input class="form-control" name="machineTime" type="text">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">人工工时
                    ：</label>
                <div class="col-sm-8">
                    <input class="form-control" name="laborTime" type="text">
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "system/procedure"
    $("#form-procedure-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-procedure-add').serialize());
        }
    }
</script>
</body>
</html>